.menu-aside{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 99;

    width: 300px;
    height: 100%;
    box-shadow: 1px 0px 5px 1px black;
    background-color: #454545;
    transition: left 1s ease;
}

/* .menu-aside:hover {
    left: -300px;
} */

.hidden-menu {
    left: -300px;
}

.aside-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid #dbdbdb;
    padding: 20px 5px 20px 10px;
    background-color: #121212;
}

.header-title, .asider-header i[class= "fa"] {
    color: white;
}

.menu-button {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: -13px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 0;
    width: 13px;
    height: 60px;

    background-color: #454545;
    color:orange;

}

.menu-button:hover, .menu-button:active {
    background-color: #454545;
    text-shadow: 0px 0px 5px black;
}

.fa-calendar-check{
    padding: 0px 15px;
    color: white;
}

.header-title {
    font-size: 18px;
    cursor: default;
}

.menu-nav {
    padding-top: 20px;
}

.menu-items li {
    display: flex;
    align-items: center;

    border-bottom: 1px solid #dbdbdb;
    padding: 0px 20px;
    height: 40px;
    background-color: #303030;

    font-size: 16px;
    color: white;
}

.menu-items li:hover {
    background-color: #121212;
}

.menu-items li .fa-regular {
    font-size: 16px;
    padding: 0px 10px;
    color: white;
}